<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @proposte.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @proposte.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @proposte.valor %>
</p>

<p>
  <strong>Datainicio:</strong>
  <%= @proposte.dataInicio %>
</p>

<p>
  <strong>Datafim:</strong>
  <%= @proposte.dataFim %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @proposte.cidade %>
</p>

<%= link_to 'Edit', edit_proposte_path(@proposte) %> |
<%= link_to 'Back', propostes_path %>
